.form{
    background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
    width: 45%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    align-items: center;
    border-radius: 10px;
}

.form h1{
    color: var(--white-500);
    font-size: 30px;
    width: 100%;
}

.form label{
    display: flex;
    flex-direction: column;
    width: 100% ;
    color: var(--white-500);
    font-size: 14px;
    font-weight: 300;
    gap: 10px;
}

.form label input , .form label textarea{
    padding: 15px;
    border-radius: 5px;

}

textarea{
    height: 80px;
}

input:invalid{
    border: 1px solid red;
}

.form button{
    background-color: var(--blue-500);
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    color: var(--white-500);
    font-weight: 600;
    cursor: pointer;
}
.form button:hover{
    background-color: var(--blue-600);
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    color: var(--white-500);
    font-weight: 600;
}

@media (max-width: 600px) {

    .form{
        width: 100%;
    }
    
}